<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        @Html.ActionLink("Dashboard", "Index", "Dashboard", "", new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Pages", "Index", "Pages", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Sidebar", "EditSidebar", "Pages", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Authors", "Index", "Authors", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Presses", "Index", "Presses", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Genres", "Index", "Genres", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Books", "Index", "Books", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Categories", "Categories", "Shop", "", new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Products", "ProductList", "Shop", "", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Orders", "Orders", "Shop", "", new { @class = "nav-link" })
                </li>
            </ul>
            <!--New right menu-->
            <ul class="navbar-nav">
                <li>
                    <a href="/" class="navbar-brand" target="_blank">Shopping area</a>
                </li>
            </ul>
            @*<span class="navbar-text">
                    Navbar text with an inline element
                </span>*@
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Shop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ckeditor")
    @RenderSection("scripts", required: false)
</body>
</html>
