@model IEnumerable<WebShop.Models.ViewModels.Cart.CartVM>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="ajax-bg">
        <span>
            <img src="~/Content/img/loading_multicolor.gif" height="100" width="150" />
        </span>
    </div>

    <table class="table">
        <tr>

            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.ProductName)
                 </td>
                 <td class="qty@(item.ProductId)">
                     @Html.DisplayFor(modelItem => item.Quantity)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Price)UAN
                 </td>
                 <td>
                     <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                 </td>
                 <td class="accordion">
                      <a href="/" class="incproduct btn btn-success" data-id="@item.ProductId"style="width: 40px;">+</a>
                      
                      <a href="/" class="decproduct btn btn-primary" data-id="@item.ProductId"style="width: 40px;">-</a>
                      
                      <a href="/" class="removeproduct btn btn-danger" data-id="@item.ProductId" style="width: 85px; margin-top: 10px;">Remove</a>
                 </td>
                 <td class="total@(item.ProductId)">
                     @Html.DisplayFor(modelItem => item.Total) UAN
                 </td>
             </tr>
         }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>To pay: </b><span>@ViewBag.GrandTotal</span>UAN</td>
        </tr>
    </table>
    <a href="#" class="placeorder btn btn-primary" style="margin-top: 10px;">Pay for order</a>
}

@section Scripts
{
    <script src="~/Content/ShopJS/AddtoCartJS.js"></script>
}