@model IEnumerable<WebShop.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2>@ViewBag.CategoryName</h2>
<div class="col">
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Press
            </th>
            <th>
                Genre
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Press)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) UAN
                </td>
                <td>
                    <a href="/shop/product-details/@item.Title.Replace(' ', '-').ToLower()">
                        <img src="/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" />
                    </a>
                </td>
                <td>
                    <a href="/shop/product-details/@item.Title.Replace(' ', '-').ToLower()" class="btn btn-info">Details</a>
                </td>
            </tr>
        }

    </table>
</div>